section.invest-section
  .wrapper
    .invest-section__container
      h2.invest-section__title.font-w-extra-bold.font-s-44.text-up
        | Доступные 
        span.color-red форматы 
        br.no-br
        | сотрудничества
      .swiper-bullet-secondary
        .invest-section__cards.swiper-wrapper
          .invest-section__card.swiper-slide
            img.invest-section__icon(src="images/invest-section-icon.svg" loading="lazy" width="47" height="47" alt="icon")
            .font-w-bold.font-s-48.text-up.color-red FIX MEN
            .invest-section__card-block
              img.invest-section__card-icon(src="images/invest-section-card-icon.svg" loading="lazy" width="54" height="54" alt="icon")
              .font-s-24 Площадь: <br> 30-40 м2
            img.invest-section__card-img(src="images/invest-section-card-img.png" loading="lazy" width="382" height="254" alt="image")
            .invest-section__card-text.font-s-20
              | Скачайте подробное описание 
              br
              | формата и финансовую модель
            form.invest-section__form(data-feedback-form)
              input(type="text" name="honeyfield" class="honeypot" style="display:none")
              input.input.input--black(type="text" name="name" autocomplete="off" placeholder="Имя")
              input.input.input--black(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
              button.btn(type="submit") скачать
          .invest-section__card.swiper-slide
            img.invest-section__icon(src="images/invest-section-icon.svg" loading="lazy" width="47" height="47" alt="icon")
            .font-w-bold.font-s-48.text-up.color-red NEW MEN
            .invest-section__card-block
              img.invest-section__card-icon(src="images/invest-section-card-icon.svg" loading="lazy" width="54" height="54" alt="icon")
              .font-s-24 Площадь: <br> 30-50 м2
            img.invest-section__card-img(src="images/invest-section-card-img.png" loading="lazy" width="382" height="254" alt="image")
            .invest-section__card-text.font-s-20
              | Скачайте подробное описание 
              br
              | формата и финансовую модель
            form.invest-section__form(data-feedback-form)
              input(type="text" name="honeyfield" class="honeypot" style="display:none")
              input.input.input--black(type="text" name="name" autocomplete="off" placeholder="Имя")
              input.input.input--black(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
              button.btn(type="submit") скачать
          .invest-section__card.swiper-slide
            img.invest-section__icon(src="images/invest-section-icon.svg" loading="lazy" width="47" height="47" alt="icon")
            .font-w-bold.font-s-48.text-up.color-red RAZOR
            .invest-section__card-block
              img.invest-section__card-icon(src="images/invest-section-card-icon.svg" loading="lazy" width="54" height="54" alt="icon")
              .font-s-24 Площадь: <br> 50-100 м2
            img.invest-section__card-img(src="images/invest-section-card-img.png" loading="lazy" width="382" height="254" alt="image")
            .invest-section__card-text.font-s-20
              | Скачайте подробное описание 
              br
              | формата и финансовую модель
            form.invest-section__form(data-feedback-form)
              input(type="text" name="honeyfield" class="honeypot" style="display:none")
              input.input.input--black(type="text" name="name" autocomplete="off" placeholder="Имя")
              input.input.input--black(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
              button.btn(type="submit") скачать
        .bullet-pagination-secondary
