section.preview-section
  .wrapper
    .preview-section__container
      h2.preview-section__title.font-w-extra-bold.font-s-44.text-up
        | Так выглядят уже 
        span.color-red работающие 
        br.no-br
        span.color-red филиалы 
        | нашей сети
      .swiper-bullet-secondary
        .preview-section__cards.swiper-wrapper
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-1.jpg" loading="lazy" width="760" height="460" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-2.jpg" loading="lazy" width="760" height="460" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-3.jpg" loading="lazy" width="760" height="460" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-4.jpg" loading="lazy" width="760" height="460" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-5.jpg" loading="lazy" width="760" height="460" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-6.jpg" loading="lazy" width="760" height="460" alt="image")
        .bullet-pagination-secondary
