section.start-section
  .wrapper
    .start-section__container
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="1533" height="1304" alt="image")
      img.start-section__bg-img-1(src="images/start-section-bg-img-1.png" loading="lazy" width="852" height="989" alt="image")
      img.start-section__bg-img-2(src="images/start-section-bg-img-2.png" loading="lazy" width="580" height="543" alt="image")
      h2.start-section__title.font-w-extra-bold.font-s-44.text-up
        | Схема запуска 
        span.color-red вашего 
        | первого барбершопа 
        br.no-br
        | по франшизе 
        span.color-red «RAZOR»
      .swiper-bullet
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="32" alt="icon")
            .font-s-20 Заключение договора франшизы
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="32" alt="icon")
            .font-s-20 Согласование проектной документации
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="32" alt="icon")
            .font-s-20 Поиск подходящего помещения
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="32" alt="icon")
            .font-s-20 Заключение договора аренды
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="32" alt="icon")
            .font-s-20 Ремонт и оформление помещения
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="32" alt="icon")
            .font-s-20 Поиск персонала
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="32" alt="icon")
            .font-s-20 Получение разрешений и согласований в госинстанциях
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="32" alt="icon")
            .font-s-20 Доставка и монтаж приобретенного оборудования, мебели
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="32" alt="icon")
            .font-s-20 Обучение персонала
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="32" alt="icon")
            .font-s-20 Официальное открытие
        .bullet-pagination.bullet-pagination--left
      .start-section__bottom
        .start-section__bottom-title.font-w-extra-bold.font-s-32.text-up
          | Работаем строго 
          br.no-br
          | по договору, в 
          br.no-br
          | котором описаны 
          br.no-br
          | наши 
          span.color-red обязанности 
          br.no-br
          | и все 
          span.color-red условия 
          br.no-br
          span.color-red сотрудничества
        .start-section__bottom-block
          img.start-section__bottom-img(src="images/start-section-bottom-img.png" loading="lazy" width="771" height="576" alt="image")
          button.btn.start-section__btn(data-remodal-target="modal-form-agreement") Скачать пример <br> договора
