.finances-section
  // background-image: url('../images/finances-section-bg.jpg')
  // background-repeat: no-repeat
  // background-position: center
  // background-size: cover
  background-color #fff
  overflow hidden

  &__container
    position relative
    z-index 1
    padding 20px 0 40px
    +above($breakpoints.sm)
      padding 30px 0 100px
    +above($breakpoints.md)
      padding 50px 0 140px
    +above($breakpoints.xxl)
      padding 79px 0 211px

  &__img-bg-1
    position: absolute
    z-index -1
    width: 200px;
    height: auto;
    bottom: 82px;
    left: -180px;
    +above($breakpoints.sm)
      width: 300px;
      bottom: 22px;
      left: -273px;
    +above($breakpoints.md)
      width: 460px;
      bottom: -40px;
      left: -408px;
    +above($breakpoints.xxl)
      width 601px
      bottom: -30px
      left: -536px

  &__img-bg-2
    position: absolute
    z-index -1
    width: 180px;
    height: auto;
    top: 0;
    right: -201px;
    +above($breakpoints.sm)
      width: 339px;
      top: -48px;
      right: -311px;
    +above($breakpoints.md)
      width: 500px;
      top: -96px;
      right: -453px;
    +above($breakpoints.xxl)
      width 739px
      top: -236px
      right: -711px

  &__title
    text-align: center
    color: #000
    padding-bottom 15px
    +above($breakpoints.sm)
      padding-bottom 30px
    +above($breakpoints.md)
      padding-bottom 50px
    +above($breakpoints.xxl)
      padding-bottom 61px

  &__box
    +above($breakpoints.sm)
      padding-left 245px
    +above($breakpoints.md)
      padding-left 330px
    +above($breakpoints.xxl)
      padding-left 400px

  &__cards
    +above($breakpoints.sm)
      display: flex
      flex-wrap: wrap
      gap: 11px 10px
    +above($breakpoints.md)
      gap: 21px 20px
    +above($breakpoints.xxl)
      gap: 22px 20px

  &__card
    position relative
    width 280px !important
    background-color #000
    display: flex
    flex-direction: column
    align-items: center
    gap: 5px
    border-radius: 5px
    text-align: center
    padding 15px 5px
    +above($breakpoints.sm)
      align-items: flex-start
      text-align: start
      width 235px !important
      padding: 17px 5px 17px 20px;
    +above($breakpoints.md)
      gap: 7px
      width: 308px !important;
      padding: 18px 5px 18px 25px;
    +above($breakpoints.xxl)
      width 380px !important
      height: 160px
      padding 26px 5px 26px 31px

  &__card-icon
    position: absolute
    width 25px
    height: 25px
    top: 10px
    right: 10px
    +above($breakpoints.sm)
      width: 30px;
      height: 30px;
      top: 10px;
      right: 10px;
    +above($breakpoints.md)
      width: 35px;
      height: 35px;
      top: 12px;
      right: 12px;
    +above($breakpoints.xxl)
      width 47px
      height: 47px
      top: 14px
      right: 14px

  &__bottom
    position relative
    width 100%
    display: flex
    flex-direction: column
    align-items: center
    gap: 10px
    margin-top 140px
    +above($breakpoints.sm)
      flex-direction: row
      justify-content flex-end
      gap: 10px
      margin-top 30px
    +above($breakpoints.md)
      gap: 20px
      margin-top 50px
    +above($breakpoints.xxl)
      margin-top 92px

  &__bottom-img
    position: absolute
    width: 170px;
    height: auto;
    bottom: 237px;
    right: 17px;
    +above($breakpoints.sm)
      width: 249px;
      bottom: 11px;
      right: 234px;
    +above($breakpoints.md)
      width: 320px;
      bottom: 8px;
      right: 316px;
    +above($breakpoints.xxl)
      width 391px
      bottom: 7px
      right: 388px

  &__bottom-text
    color: #000
    display: flex
    flex-direction: column
    align-items: center
    gap: 10px
    text-align: center
    +above($breakpoints.sm)
      letter-spacing: 0.5px
      align-items: flex-end
      text-align: end
      gap: 10px
    +above($breakpoints.md)
      letter-spacing: 1px
      gap: 12px
    +above($breakpoints.xxl)
      letter-spacing: 1.5px
      gap: 15px

  &__form
    width 100%
    display: flex
    flex-direction: column
    align-items: center
    gap: 5px
    background-color #000
    border-radius: 5px
    padding 14px
    +above($breakpoints.sm)
      width 480px
      align-items: flex-end
      gap: 6px
      padding 20px
    +above($breakpoints.md)
      width 636px
      gap: 8px
      padding 30px
    +above($breakpoints.xxl)
      width 780px
      height: 314px
      gap: 9px
      padding 43px 40px
    & > *
      width 280px !important
      +above($breakpoints.sm)
        width 215px !important
      +above($breakpoints.md)
        width 278px !important
      +above($breakpoints.xxl)
        width 340px !important

  &__img
    position: absolute
    z-index -1
    border-radius: 5px
    width: 100px;
    height: auto;
    top: 153px;
    left: 14px;
    +above($breakpoints.sm)
      width 235px
      top: 121px
      left: 0
    +above($breakpoints.md)
      width 308px
      top: 185px
    +above($breakpoints.xxl)
      width: 381px;
      top: 242px;
