.preview-section
  background-image: url('../images/preview-section-bg.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-color #010102

  &__container
    position relative
    padding 20px 0 5px
    +above($breakpoints.sm)
      padding 50px 0
    +above($breakpoints.md)
      padding 70px 0
    +above($breakpoints.xxl)
      padding 105px 0 114px

  &__title
    padding 0 0 15px
    text-align: center
    +above($breakpoints.sm)
      padding 0 0 30px
    +above($breakpoints.md)
      padding 0 0 50px
    +above($breakpoints.xxl)
      padding 0 0 61px

  &__cards
    +above($breakpoints.sm)
      display: flex
      flex-wrap: wrap
      justify-content center
      gap: 10px
    +above($breakpoints.md)
      gap: 20px
    +above($breakpoints.xxl)
      gap: 21px 20px

  &__card
    width 280px !important
    +above($breakpoints.sm)
      width 235px !important
    +above($breakpoints.md)
      width 308px !important
    +above($breakpoints.xxl)
      width 380px !important

  &__img
    width 100%
    height: auto
    border-radius: 5px
